body{
    position: absolute;
width: 1369px;
height: auto;
 font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Ubuntu,Droid Sans,sans-serif, sans-serif;
letter-spacing: 0.099em;

background: rgb(255, 255, 255);
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0;
    font: inherit;
    font-size: 100%;
     font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Ubuntu,Droid Sans,sans-serif;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
.top-navigation-bar{
    
position: fixed;
align-self: auto ;
width: 100%;
height: 48px;
left: 0px;
top: 0px;
z-index: 10;
 font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Ubuntu,Droid Sans,sans-serif, sans-serif;
letter-spacing: 0.099em;
background: linear-gradient(180deg, #383535 0%, rgba(111, 111, 111, 0) 100%), #141313;
box-shadow: 0px 0.3px 0.3px rgba(115, 115, 115, 0.25);
}
span.logo{
    position: absolute;
width: 32px;
height: 32.04px;
left: 15px;
top: 10px;
}

span.testtitle{
    position: absolute;
    width: 182px;
    height: 19px;
    left: 68px;
    top: 14px;
     font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Ubuntu,Droid Sans,sans-serif, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.099em;
    color: #F9F9F9;
}
span.testdate{
    position: absolute;
    width: 150px;
    height: 14.15px;
    left: 193px;
    top: 16px;
     font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Ubuntu,Droid Sans,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.045em;
    color: aliceblue;
}
h5{
    padding: 22px;
}
p.note{
    position: relative;
    width: 621px;
    height: 16px;
    left: 395px;
    top: 36px;
     font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Ubuntu,Droid Sans,sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.08em;
    color: #383838;
}
.registrationpanel{
    
position: absolute;
width: 343px;
height: auto;
left: 538px;
top: 98px;
padding-bottom: 20px;
background: #FFFFFF;
box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.08), -4px -4px 19px rgba(0, 0, 0, 0.09);
border-radius: 7px;
}
input[type=text], select{

    width: 225px;
    height: 30px;
    left: 575px;
    top: 239px;
    background: #FFFFFF;
    border: 0.7px solid #999191;
    box-sizing: border-box;
    padding: 9px;
    border-radius: 2px;
}
input[type=password], select{

    width: 225px;
    height: 30px;
    left: 575px;
    top: 239px;
    background: #FFFFFF;
    border: 0.7px solid #999191;
    box-sizing: border-box;
    padding: 9px;
    border-radius: 2px;
}
input[type=email], select{

    width: 225px;
    height: 30px;
    left: 575px;
    top: 239px;
    background: #FFFFFF;
    border: 0.7px solid #999191;
    box-sizing: border-box;
    padding: 9px;
    border-radius: 2px;
}
label{

width: 34px;
height: 14px;
left: 578px;
top: 221px;
padding: 5px;
 font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Ubuntu,Droid Sans,sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height */

letter-spacing: 0.08em;

color: #005BAE;
}

h6{
    width: 270px;
     font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Ubuntu,Droid Sans,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: #5F5F5F;
    list-style: none;
   
    margin-block-start: 0.53em;
    margin-block-end: 0.53em;
    margin-inline-start: 0px;
  
}
button.register-btn{
 

 font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Ubuntu,Droid Sans,sans-serif;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 18px;
letter-spacing: 0.03em;
color: #FFFFFF;
width: 95px;
height: 31px;
border: none;
background: #00A725;
box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.08), -4px -4px 5px rgba(0, 0, 0, 0.09);
border-radius: 7px;
}
.register-btn:hover{
    background: rgb(5, 185, 44);
}
.left-pane{
position: absolute;
width: 37px;
height: 550px;
left: -1px;
top: 60px;
position: fixed;
z-index: 1;
}
button.questionnav-btn{
width: 36.7px;
height: 116px;
background: #E1E1E1;
box-shadow: inset 5px 4px 15px rgba(0, 0, 0, 0.25);
}
button.questionnav-btn:hover{
    background: rgb(250, 250, 250);

}
.question_area{
    position: absolute;
width: 557px;
height: 570px;
left: 42px;
top: 55px;
overflow-y: scroll;
background: #FFFFFF;
flex: 1;
    min-height: calc(100vh - 50px);
    max-width: calc(100% - 40px);
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
}
.compiler_area{
    position: absolute;
    width: auto;
    height: 520px;
    left: 599px;
    top: 55px;
    overflow-y: scroll;
    box-shadow: 0 6px 16px 0 rgba(75, 75, 75, 0.2);
  
background: rgb(255, 255, 255);
}
.code_editor{
    width:670px;
    height:500px;
    border-color: rgb(184, 184, 184);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 1px 1px 3px rgb(212, 212, 212)
}
.code_header{
    width: 670px;
    height: 60px;
    background-color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: -1px -1px 3px rgb(212, 212, 212)
   

}

.divider{
    height:1.5px;
    background-color: #4b4b4b;
    margin-block-start: 0em;
    margin-block-end: 0em;
    width: 670px;
}
.ace-tm .ace_gutter {
    background: #f3f3f3;
    color: #afafaf;
    font-weight: 400;
}

.full-screen-view .full-screen-sidebar {
    z-index: 1;
}
.full-screen-sidebar {
    width: 40px;
}

h5{
     font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Ubuntu,Droid Sans,sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.040em;
    color:grey
}
.full-screen-sidebar .sidebar-container {
    display: inline-block;
    margin-top: -30px;
    -webkit-transform: rotate(90deg) translateX(-15px);
    transform: rotate(90deg) translateX(-15px);
    -webkit-transform-origin: 0 40px;
    transform-origin: 0 40px;
}
.full-screen-sidebar .sidebar-list {
    display: table;
    position: absolute;
    list-style: none;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.040em;
}
.full-screen-sidebar .tab-item.active {
    background-color: #fff;
    background-color: var(--color-white);
}
.full-screen-sidebar .tab-item {
     font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Ubuntu,Droid Sans,sans-serif;
    display: table-cell;
    min-width: 180px;
    text-align: center;
    line-height: 41px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
li.tab-item{
    cursor: pointer; 
    color:rgb(46, 46, 46);
}
.full-screen-sidebar .tab-item:not(:nth-of-type(1)):after {
    
    position: absolute;
    right: .5px;
    margin-top: 10px;
    width: 1px;
    height: 25px;
    background-color: #a1b1b4;
    content: "";
}
.ace_gutter-layer {
    position: relative;
    color: #a0a0a0;
    background-color: white;
    width: auto;
    font-weight: 100;
    text-align: right;
    font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Ubuntu,Droid Sans,sans-serif;
    pointer-events: auto;
}
.ace_content {
    position: absolute;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 100%;
    position: absolute;
    overflow: hidden;
    height: 500px;
    width: 750px;
    font-size: 100%;
}