{% extends "app/layout.html" %}{% block content %}{% url 'testpage' as my_view %} 
<div class="left-pane" align="left">
    <button class="questionnav-btn" id="q1_btn">1</button>
    <button class="questionnav-btn" id="q1_btn">2</button>
    <button class="questionnav-btn" id="q1_btn">3</button>
    <button class="questionnav-btn" id="q1_btn">4</button>
    <button class="questionnav-btn" id="q1_btn">5</button>
</div >
<div class="question_area">
</div>
<div class="compiler_area">

</div>
{% endblock  %}


